h1,h2,h3,h4{
		padding: 0px;
		margin: 0px;
	}
	.caption-style-3{
		list-style-type: none;
		
		margin-top: 0px;
		margin-right: auto;
		margin-left: 5%;
		margin-bottom: auto;
		padding:0px;
		
	}
	.caption-style-3 li{
		float: left;
		padding: 10px;
		position: relative;
		overflow: hidden;
	}
	.caption-style-3 li:hover .caption{
		opacity: 1;
		transform: translateY(-100px);
		-webkit-transform:translateY(-100px);
		-moz-transform:translateY(-100px);
		-ms-transform:translateY(-100px);
		-o-transform:translateY(-100px);
	}
	.caption-style-3 li:hover img{
		opacity: 1;
		transform: translateY(-40px);
		-webkit-transform:translateY(-40px);
		-moz-transform:translateY(-40px);
		-ms-transform:translateY(-40px);
		-o-transform:translateY(-40px);
	}
	.caption-style-3 img{
		margin: 0px;
		padding: 0px;
		float: left;
		z-index: 4;
		min-width: 150px;

	}
	.caption-style-3 .caption{
		cursor: pointer;
		position: absolute;
		opacity:0;
		top:300px;
		-webkit-transition:all 0.15s ease-in-out;
		-moz-transition:all 0.15s ease-in-out;
		-o-transition:all 0.15s ease-in-out;
		-ms-transition:all 0.15s ease-in-out;
		transition:all 0.15s ease-in-out;
	}
	.caption-style-3 img{
		-webkit-transition:all 0.15s ease-in-out;
		-moz-transition:all 0.15s ease-in-out;
		-o-transition:all 0.15s ease-in-out;
		-ms-transition:all 0.15s ease-in-out;
		transition:all 0.15s ease-in-out;
	}
	.caption-style-3 .blur{
		background-color:#448AFF;
		height: 300px;
		width: 400px;
		z-index: 5;
		position: absolute;
	}
	.caption-style-3 .caption-text h1{
		text-transform: uppercase;
		font-size: 18px;
	}
	.caption-style-3 .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		width: 400px;
		height: 300px;
		text-align: center;
		top:20px;
	}