.foto{
	width:auto;
	position:relative;
}

.foto img{
	width:100%;

}

.foto p{
	position:absolute;
	bottom:50%;
	width:100%;
	text-align:center;
	color:rgba(243,243,243,.8);
	font-family:Arial;
	font-size:14px;
	font-style: italic;
	
	padding:.5em 0;
}
.foto h1{
	position:absolute;
	bottom:55%;
	width:100%;
	text-align:center;
	color:rgba(243,243,243,.8);
	font-family:Arial;
	font-size:34px;
	font-style: italic;
	
	padding:.5em 0;
}